// main:style.less

@black: #1D1D1D;
@blue: #1005FF;
@gray-light: #95989A;
@gray: #666666;
@white: #ffffff;

@mobile-sm: ~"(max-width: 565px)";
@mobile: ~"(max-width: 767px)";
@tablet: ~"(max-width: 991px)";
@notebook: ~"(max-width: 1170px)";
